@font-face {
    font-family: "PokemonSolid";
    src: url("../fonts/pokemonsolid.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

html {
  background: #39b7e7 url("../images/pika-bg.png") repeat center center;
}

button, input[type="text"] {
  padding: 5px;
  margin-bottom: 20px;
}

button:hover {
  cursor: pointer;
}

h1, h2, h3 {
  color: #dc1613;
  padding: 5px;
  font-family: PokemonSolid;
}

#question-num, #score-board {
  background: url("../images/spark.png") no-repeat center center;
  display: table;
  position: relative;
  top:10px;
  height: 6em;
  font-weight: bold;
  color: #39b7e7;
}
#question-num > span, #score-board > span {
  display: table-cell;
  vertical-align: middle;
}
#question-num > span:nth-child(2), #score-board > span:nth-child(2) {
    display: none;
  }
#question-num {
  transform: rotate(-20deg);
}
#score-board {
  transform: rotate(20deg);
}

#revealed {
  display: none;
  color: #dc1613;
  padding: 0;
  margin: 0;
}

#answer-list {
  margin: 0;
  padding: 10px 0 0;
}
#answer-list button {
  display: block;
  line-height: 50px;
  border: 2px solid #dc1613;
  background: #39b7e7;
  vertical-align: middle;
  text-align: center;
  color: #dc1613;
  margin: 10px 0 0;
  padding: 0;
}
#answer-list button:hover, #answer-list button:focus {
  background: #fff !important;
  cursor: pointer;
}

#pokemon {
  max-height: 200px;
  display: block;
  margin: 0 auto;
}

#nextQ {margin-top: 20px;}

#start-screen {
  position: relative;
  margin-top: 50px;
  height: 100%;
  text-align: center;
  font-family: PokemonSolid;
  border: 5px solid #ad150b;
  background: #fffa5c;
}

#game, #end-game {
  display: none;
  margin: 0 auto;
  border: 5px solid #ad150b;
  background: #fffa5c;
  margin-top: 50px;
  text-align: center;
}

#end-game img {
  max-height: 200px;
  display: block;
  margin: 30px auto;
  border-radius: 10px;
}

@media only screen and (max-width: 640px) {
  h1 {font-size: 1.8em;}

  #pokemon {max-height: 150px;}

  #start-screen, #game, #end-game {margin-top: 20px;}

  #question-num, #score-board {top: 0;}
  #question-num, #score-board, #question-num > span:nth-child(2), 
  #score-board > span:nth-child(2) {
    position: relative;
    background: none;
    display: inline;
    height: 2em;
    transform: rotate(0deg);
  }
  #score-board > span:nth-child(2) {top: -10px;}
  #question-num > span:nth-child(2) {top: 10px;}
  #question-num > span:first-child, #score-board > span:first-child {
    display: none;
  }

}
