@font-face {
    font-family: "PokemonSolid";
    src: url("../fonts/pokemonsolid.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

html {
  background: #0d5279 url("../images/pika-bg.jpg") repeat center center;
}

button, input[type="text"] {
  padding: 5px;
  margin-bottom: 20px;
}

button:hover {
  cursor: pointer;
}

h1 {
  color: red;
  padding: 10px;
  font-family: PokemonSolid;
}

h2, h3 {
  color: blue;
  padding: 5px;
}

#question-num, #scoreboard {
  height: 100px;
  width: auto;
  background: url("../images/spark.png") no-repeat center center;
}
#scoreboard {
  display: none;
  height: 100px;
  position: absolute;
  right: 15%;
  top: 25%;
  text-align: center;
}

#revealed {
  color: red;
  display: none;
}

#answer-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

#answer-list > li {
  display: block;
  max-width: 620px;
  line-height: 50px;
  border: 2px solid #dc1613;
  background: #0d5279;
  margin: 5px auto;
  vertical-align: middle;
  text-align: center;
  color: #dc1613;
}
#answer-list > li:hover, #answer-list > li:focus {opacity: 0.8; cursor: pointer;}

#pokemon {
  max-height: 200px;
  display: block;
  margin: 30px auto;
}

#nextQ {margin-top: 20px;}

.start-screen {
  position: relative;
  top: 25%;
  height: 100%;
  text-align: center;
  font-family: PokemonSolid;
  border: 5px solid #0d5279;
  background: #f8c713;
}

.game, .end-game {
  display: none;
  margin: 0 auto;
  border: 5px solid #0d5279;
  background: #f8c713;
  margin-top: 50px;
  text-align: center;
}

.end-game img {
  max-height: 200px;
  display: block;
  margin: 30px auto;
  border-radius: 10px;
}
